#main-title {
    color: red;
    font-size: 24px;
}

body {
    background-color: white;
    animation-name: background;
    animation-duration: 1s;
}

#description {
    font-style: italic;
    transition: font-size 0.3s ease;
}

#pizza-list {
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-end;
}

.pizza {
    color: green;
}

.pizza-img {
    width: 100px;
}

.pizza-img:hover {
    filter: brightness(0.8);
}

.pizza-img:active {
    opacity:0.8;
}

#descrpiption:hover {
    font-size: 18px
}
@keyframes background {
    from {background-color: black};
    to {background-color: white;}
}